---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Arena Voleibol club - Clinicas" description="Descubre y aprende voleibol de playa en Lima Perú con todas nuestras clinicas por fundamento tecnico">
    <div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
        <img src="/7.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-top md:object-end">
        <div class="hidden sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:transform-gpu sm:blur-3xl" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0 sm:transform-gpu" aria-hidden="true">
          <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-4xl font-bold tracking-tight text-black sm:text-6xl">Nuestras Clinicas</h2>
            <p class="mt-6 text-lg leading-8 text-black font-bold">Descubre los Beneficios</p>
          </div>  
        </div>
      </div>
    <div>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto">
            <div class="items-center md:flex md:space-x-6">
                <div class="md:w-1/2">
                    <h3 class="text-2xl font-semibold text-gray-800">Clínicas de Voleibol de Playa por Fundamento Técnico</h3>
                    <p class="max-w-md mt-4 text-gray-600">Nuestras clínicas de voleibol de playa están diseñadas para mejorar tus habilidades en cada uno de los fundamentos técnicos del juego. Ofrecemos sesiones específicas enfocadas en los siguientes aspectos:</p>
                    <a href="#" class="block mt-8 text-indigo-700 underline">Experienced team</a>
                </div>
    
                <div class="mt-8 md:mt-0 md:w-1/2">
                    <div class="flex items-center justify-center">
                        <div class="max-w-md">
                            <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;"
                                src="/clinica.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto">
            <div class="items-center md:flex md:space-x-6">
                <div class="md:w-1/2">
                    <div class="flex items-center justify-center">
                        <div class="max-w-md">
                            <img class="object-cover object-center w-full rounded-md shadow" style="height: 500px;"
                                src="/clinica2.jpg">
                        </div>
                    </div>
                </div>
    
                <div class="mt-8 md:mt-0 md:w-1/2">
                    <h3 class="text-2xl font-semibold text-black">Objetivos Generales de las Clínicas de Voleibol de Playa</h3>
                    <p class="max-w-md mt-4 text-black">En nuestras clínicas de voleibol de playa, nos enfocamos en proporcionar una formación integral a los participantes, ayudándolos a alcanzar los siguientes objetivos: <br><br>
                        <li class="text-black"><span class="font-semibold">Desarrollo Técnico:</span> Perfeccionar las técnicas individuales en cada fundamento del juego.</li>
                        <li class="text-black"> <span class="font-semibold"> Mejora Física:</span> Aumentar la resistencia, agilidad y fuerza específica para el voleibol de playa.</li>
                        <li class="text-black"><span class="font-semibold">Tácticas de Juego:</span> Desarrollar estrategias de juego eficaces tanto en ataque como en defensa.</li>
                        <li class="text-black"> <span class="font-semibold">Trabajo en Equipo:</span>  Fomentar la comunicación y colaboración entre los jugadores.</li>
                        <li class="text-black"><span class="font-semibold"> Diversión y Motivación:</span> Crear un ambiente positivo que motive a los jugadores a seguir mejorando y disfrutando del deporte.</li>
                      
                    </p>
                    
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto">
            <h2 class="text-3xl font-semibold text-gray-800">Beneficios de participar <br> en nuestras clinicas</h2>
            <p class="max-w-lg mt-4 text-gray-600">
                Entrenadores expertos: Nuestros entrenadores son profesionales experimentados en el voleibol de playa, listos para ayudarte a mejorar tus habilidades. <br><br>
                
    Enfoque Personalizado: Adaptamos nuestros programas a las necesidades y niveles de cada participante, asegurando una progresión continua.
                
            </p>
            <div class="grid gap-8 mt-10 md:mt-20 md:grid-cols-2">
                <div class="flex space-x-4">
                    <svg class="w-6 h-6 text-gray-500" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M47.6268 23.7062C48.2466 24.4484 48.2466 25.5277 47.6268 26.2699L44.4812 30.0372C43.803 30.8493 43.4742 31.8971 43.5669 32.9512L44.0044 37.9287C44.0912 38.9165 43.4411 39.8188 42.4765 40.0491L38.0619 41.1031C36.9808 41.3612 36.0559 42.0575 35.5089 43.025L33.2053 47.099C32.6961 47.9995 31.5844 48.3631 30.6415 47.9375L26.6498 46.1358C25.6003 45.6621 24.3976 45.6636 23.3493 46.14L19.3597 47.9531C18.4161 48.3819 17.3014 48.0189 16.7912 47.1168L14.4911 43.0489C13.9441 42.0814 13.0192 41.3851 11.9381 41.127L7.52286 40.0728C6.55849 39.8426 5.90838 38.9406 5.99496 37.9529L6.43346 32.9505C6.52583 31.8968 6.19706 30.8494 5.5191 30.0375L2.37029 26.2665C1.75138 25.5253 1.75043 24.4477 2.36803 23.7054L5.52362 19.9127C6.1988 19.1012 6.52582 18.0557 6.43339 17.0041L5.99624 12.0308C5.90922 11.0408 6.56225 10.1372 7.52946 9.90904L11.9298 8.87123C13.0153 8.61522 13.9446 7.91765 14.4935 6.94684L16.7947 2.87709C17.3039 1.97664 18.4156 1.61302 19.3585 2.03858L23.3544 3.8422C24.4007 4.31444 25.5993 4.31444 26.6456 3.8422L30.6415 2.03858C31.5844 1.61301 32.6961 1.97663 33.2053 2.87709L35.5089 6.95112C36.0559 7.9186 36.9808 8.61486 38.0619 8.87297L42.4765 9.92701C43.4411 10.1573 44.0912 11.0596 44.0044 12.0474L43.5669 17.0249C43.4742 18.079 43.803 19.1268 44.4812 19.939L47.6268 23.7062ZM25 37.9326C26.8075 37.9326 28.2727 36.4674 28.2727 34.6599V34.4275C28.2727 32.6201 26.8075 31.1548 25 31.1548C23.1925 31.1548 21.7273 32.6201 21.7273 34.4275V34.6599C21.7273 36.4674 23.1925 37.9326 25 37.9326ZM25 28.377C26.8075 28.377 28.2727 26.9117 28.2727 25.1042V15.3162C28.2727 13.5087 26.8075 12.0435 25 12.0435C23.1925 12.0435 21.7273 13.5087 21.7273 15.3162V25.1042C21.7273 26.9117 23.1925 28.377 25 28.377Z"
                            stroke="currentColor" stroke-width="2" />
                    </svg>
    
                    <div>
                        <h4 class="text-xl font-medium text-gray-800">Ambiente Seguro y Motivador:</h4>
                        <p class="max-w-lg mt-4 text-gray-600">Ofrecemos un entorno seguro y alentador, ideal para el aprendizaje y el desarrollo personal.</p>
                    </div>
                </div>
    
                <div class="flex space-x-4">
                    <svg class="w-6 h-6 text-gray-500" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M1 25C1 11.8023 11.8023 1 25 1C38.1977 1 49 11.8023 49 25C49 38.1977 38.1977 49 25 49C11.8023 49 1 38.1977 1 25ZM33.36 35.3573C34.7228 36.1959 36.5074 35.771 37.346 34.4082C38.1913 33.0346 37.7522 31.2351 36.3692 30.4053L28.221 25.5164C27.6186 25.155 27.25 24.504 27.25 23.8014V14.375C27.25 12.7872 25.9628 11.5 24.375 11.5C22.7872 11.5 21.5 12.7872 21.5 14.375V25.8236C21.5 27.2127 22.2206 28.5023 23.4036 29.2302L33.36 35.3573Z"
                            stroke="currentColor" stroke-width="2" />
                    </svg>
    
                    <div>
                        <h4 class="text-xl font-medium text-gray-800">Red de Contactos:</h4>
                        <p class="max-w-lg mt-4 text-gray-600">Conectarás con otros jugadores y entrenadores, ampliando tu red dentro de la comunidad del voleibol de playa.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-white">
        <div class=" px-6 py-16 mx-auto">
            <div class="px-8 py-12 bg-red-700 rounded-md md:px-20 md:flex md:items-center md:justify-between">
                <div>
                    <h3 class="text-2xl font-semibold text-white">Aprende por fundamentos técnicos el voleibol de playa</h3>
                    <!-- <p class="max-w-md mt-4 text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac
                        volutpat, viverra magna risus aliquam massa.</p>-->
                </div>
    
                <a class="block px-8 py-2 mt-6 text-lg font-medium text-center text-sky-600 transition-colors duration-300 transform bg-black rounded md:mt-0 hover:bg-white hover-text " target="_blank"
                    href="https://wa.me/51929418895">Consultar </a>
            </div>
        </div>
    </section>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto">
            <div class="md:flex md:justify-between">
                <h2 class="text-3xl font-semibold text-gray-800">Clinicas por fundamento</h2>
            </div>
    
            <div class="grid gap-8 mt-10 md:grid-cols-2 lg:grid-cols-3">
                <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
                    <h2 class="text-xl font-medium text-gray-800"> Clinica de Saque</h2>
                    <p class="max-w-md mt-4 text-gray-400">
                     <li class="text-black"> <span class="font-semibold">Objetivo:</span> Perfeccionar la técnica de saque, mejorando la precisión y potencia.</li>
                     <li class="text-black"> <span class="font-semibold">Metas:</span> Desarrollar un saque consistente y efectivo, adaptado a diferentes situaciones de juego.</li>
                     <li class="text-black"> <span class="font-semibold">Beneficios:</span> Incremento de la efectividad en el servicio, mayor control del juego desde el inicio.</li>   
                     </p>
                </div>
    
                <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
                    <h2 class="text-xl font-medium text-gray-800">Clinica de Recepción</h2>
                    <p class="max-w-md mt-4 text-gray-400">
                        <li class="text-black"> <span class="font-semibold">Objetivo:</span> Mejorar la técnica de recepción y pase, fundamental para construir una jugada ofensiva.</li>
                     <li class="text-black"> <span class="font-semibold">Metas:</span> Aumentar la precisión en la recepción y la capacidad de controlar balones difíciles.</li>
                     <li class="text-black"> <span class="font-semibold">Beneficios:</span> Mejora en la transición de la defensa al ataque, reducción de errores no forzados.</li>
                    </p>
                </div>
    
                <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
                    <h2 class="text-xl font-medium text-gray-800">Clinica de Ataque</h2>
                    <p class="max-w-md mt-4 text-gray-400">
                        <li class="text-black"> <span class="font-semibold">Objetivo:</span> Optimizar la técnica de remate, enfocándose en la potencia y colocación del golpe.</li>
                     <li class="text-black"> <span class="font-semibold">Metas:</span> Desarrollar un remate poderoso y preciso, capaz de superar bloqueos y defensas.</li>
                     <li class="text-black"> <span class="font-semibold">Beneficios:</span> Incremento en la capacidad de anotar puntos, mayor variabilidad en el ataque.
                     </li>
                    </p>
                </div>

                <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
                    <h2 class="text-xl font-medium text-gray-800">Clinica de Bloqueo</h2>
                    <p class="max-w-md mt-4 text-gray-400">
                        <li class="text-black"> <span class="font-semibold">Objetivo:</span> Perfeccionar las técnicas de bloqueo para neutralizar los ataques del oponente.</li>
                     <li class="text-black"> <span class="font-semibold">Metas:</span> Aumentar la efectividad en el bloqueo, desarrollando estrategias para diferentes tipos de remates.</li>
                     <li class="text-black"> <span class="font-semibold">Beneficios:</span> Mejora en la defensa en la red, mayor control del juego defensivo.</li>
                    </p>
                </div>

                <div class="px-6 py-8 overflow-hidden bg-white rounded-md shadow-md">
                    <h2 class="text-xl font-medium text-gray-800">Clinica de Defensa</h2>
                    <p class="max-w-md mt-4 text-gray-400">
                    <li class="text-black"> <span class="font-semibold">Objetivo:</span> Mejorar la técnica de defensa en la arena, enfocándose en la velocidad y agilidad.</li>
                     <li class="text-black"> <span class="font-semibold">Metas:</span> Incrementar la capacidad de respuesta ante remates y saques, desarrollando habilidades de recuperación.</li>
                     <li class="text-black"> <span class="font-semibold">Beneficios:</span> Fortalecimiento del juego defensivo, aumento de la resistencia y rapidez.</li>
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto text-center">
            <h2 class="text-3xl font-semibold text-black">Inscripciones Abiertas</h2>
            <p class="max-w-lg mx-auto mt-4 text-black">¡No pierdas la oportunidad de mejorar tu juego con nuestras clínicas de voleibol de playa! Las inscripciones están abiertas todo el año. Visita nuestra página de contacto para más información y únete a nosotros en la arena. Aprovecha nuestras promociones especiales para nuevos inscritos y grupos.</p>
    
            <img class="object-cover object-top w-full mt-16 rounded-md shadow h-80"
                src="/ataque.jpg">
        </div>
    </section>
    
    <section class="bg-white">
        <div class="max-w-5xl px-6 py-16 mx-auto space-y-8 md:flex md:items-center md:space-y-0">
            <div class="md:w-2/3">
                <div class="hidden md:flex md:items-center md:space-x-10">
                    <img class="object-cover object-center rounded-md shadow w-72 h-72"
                        src="/andra-guille.jpg">
                    <img class="object-cover object-center w-64 rounded-md shadow h-96"
                        src="/voleo.jpg">
                </div>
                <h2 class="text-3xl font-semibold text-black md:mt-6">Aprende más </h2>
                <p class="max-w-lg mt-4 text-black">
                    Estas clínicas están diseñadas para proporcionar un enfoque integral y especializado en cada área del juego, asegurando que los jugadores desarrollen habilidades específicas que les permitan sobresalir en el voleibol de playa.
                </p>
            </div>
            <div class="md:w-1/3">
                <img class="object-cover object-center w-full rounded-md shadow" style="height: 700px;"
                    src="/ataque.jpg">
            </div>
        </div>
    </section>
</div>
</Layout>