---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';
import Precios from '../components/Precios.astro';
import Equipo from '../components/equipo.astro';
import Testimonio from '../components/testimonio.astro';
import Cliente from '../components/Cliente.astro';
import Action from '../components/Callaction.astro';



---

<Layout title="Arena Voleibol club - Inicio" description="Descubre y aprende voleibol de playa en Lima Perú">
	<Video />
	<main>
	<Cliente />
	<Intro />
	<Bento />
	<Action />
	<Precios />
	<Equipo />
	<PreFooter />
	<Testimonio />
	</main>
</Layout>


<style>
	
</style>
