---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Arena Voleibol club - Aprende y crece jugando voleibol de playa junto a nosotros" description="Descubre y aprende voleibol de playa en Lima Perú">
	<!-- ====== About Section Start -->
<section
class="overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] bg-white dark:bg-dark"
>
<div class="container mx-auto">
   <div class="flex flex-wrap items-center justify-between -mx-4">
	  <div class="w-full px-4 lg:w-6/12">
		 <div class="flex items-center -mx-3 sm:-mx-4">
			<div class="w-full px-3 sm:px-4 xl:w-1/2">
			   <div class="py-3 sm:py-4">
				  <img
					 src="/public/4.jpg"
					 alt=""
					 class="w-full rounded-2xl"
					 />
			   </div>
			   <div class="py-3 sm:py-4">
				  <img
					 src="/public/8.jpg"
					 alt=""
					 class="w-full rounded-2xl"
					 />
			   </div>
			</div>
			<div class="w-full px-3 sm:px-4 xl:w-1/2">
			   <div class="relative z-10 my-4">
				  <img
					 src="/public/9.jpg"
					 alt=""
					 class="w-full rounded-2xl"
					 />
				  <span class="absolute -right-7 -bottom-7 z-[-1]">
					 <svg
						width="134"
						height="106"
						viewBox="0 0 134 106"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						>
					 </svg>
				  </span>
			   </div>
			</div>
		 </div>
	  </div>
	  <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
		 <div class="mt-10 lg:mt-0">
			<h2
			   class="mb-5 text-3xl font-bold text-dark text-black sm:text-[40px]/[48px]"
			   >
			  Nosotros
			</h2>
			<p class="mb-5 text-base text-black dark:text-dark-6">
				Arena Voleibol Club es un club en Perú que se dedica a la enseñanza
				del vóley de playa. El objetivo del club es promover el vóley de playa
				como un deporte saludable y divertido en la comunidad local,
				ofreciendo clases y entrenamientos para todas las edades y niveles de
				habilidad. Además, el club también organiza torneos y eventos de vóley
				de playa para fomentar la competencia sana y el espíritu de equipo. El
				club también trabaja en colaboración con escuelas y otras
				organizaciones para promover el vóley de playa entre los jóvenes y
				fomentar el valor de la actividad física y el trabajo en equipo.
			</p>
			
			<a
			   href="javascript:void(0)"
			   class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-black border border-transparent rounded-md px-7 bg-primary hover:bg-opacity-90"
			   >
			<h2 class="mb-5 text-3xl font-bold text-dark text-black sm:text-[40px]/[48px]" >Metas</h2>
			</a>
			<p class="mb-8 text-base text-black dark:text-dark-6">
				<span class="mb-4 text-sm font-bold tracking-wide text-black ">Desarrollo Deportivo:</span> Brindar un entrenamiento de
				excelencia en voleibol de playa para personas de
				todas las edades y niveles de destreza. <br>
				<span class="mb-4 text-sm font-bold tracking-wide text-black " >Promoción del Deporte:</span> Incrementar la
				participación y el entusiasmo por el voleibol de
				playa en nuestra comunidad. <br>
				<span class="mb-4 text-sm font-bold tracking-wide text-black ">Detección de Talentos:</span> Identificar y apoyar a
				jóvenes con talento que puedan representar a Perú
				en competencias tanto nacionales como
				internacionales. <br>
				<span class="mb-4 text-sm font-bold tracking-wide text-black ">Vida Saludable:</span> Fomentar hábitos saludables y la
				práctica regular de actividad física entre los
				participantes.
			 </p>
		 </div>
	  </div>
   </div>
</div>
</section>
<section class="bg-grey py-20 lg:py-[120px] dark:bg-dark">
	<div class="container mx-auto">
	  <div
		class="relative z-10 overflow-hidden rounded bg-primary px-8 py-12 md:p-[70px]"
	  >
		<div class="-mx-4 flex flex-wrap items-center">
		  <div class="w-full px-4 lg:w-1/2">
			<span class="mb-4 block text-base font-medium text-white">
			 
			</span>
			<h2
			  class="mb-6 text-3xl font-bold leading-tight text-white sm:mb-8 sm:text-[40px]/[48px] lg:mb-0"
			>
			  <span class="xs:block">Nuestra filosofía “Ponte en forma, diviértete, haz amigos” vivirá una gran experiencia
			</h2>
		  </div>
		  <div class="w-full px-4 lg:w-1/2">
			<div class="flex flex-wrap lg:justify-end">
			  <a
				href="https://wa.me/51929418895"
				class="hover:bg-shadow-1 my-1 mr-4 inline-flex rounded-md bg-white px-7 py-3 text-base font-medium text-black transition"
			  >
				Contactanos
			  </a>
			  <a
				href="javascript:void(0)"
				class="my-1 inline-flex rounded-md bg-secondary px-7 py-3 text-base font-medium text-white transition hover:bg-opacity-90"
			  >
				Un entrenamiento gratuito
			  </a>
			</div>
		  </div>
		</div>

		<div>
		  <span class="absolute left-0 top-0 z-[-1]">
			<svg
			  width="189"
			  height="162"
			  viewBox="0 0 189 162"
			  fill="none"
			  xmlns="http://www.w3.org/2000/svg"
			>
			  <ellipse
				cx="16"
				cy="-16.5"
				rx="173"
				ry="178.5"
				transform="rotate(180 16 -16.5)"
				fill="url(#paint0_linear)"
			  />
			  <defs>
				<linearGradient
				  id="paint0_linear"
				  x1="-157"
				  y1="-107.754"
				  x2="98.5011"
				  y2="-106.425"
				  gradientUnits="userSpaceOnUse"
				>
				  <stop stop-color="white" stop-opacity="0.07" />
				  <stop offset="1" stop-color="white" stop-opacity="0" />
				</linearGradient>
			  </defs>
			</svg>
		  </span>
		  <span class="absolute bottom-0 right-0 z-[-1]">
			<svg
			  width="191"
			  height="208"
			  viewBox="0 0 191 208"
			  fill="none"
			  xmlns="http://www.w3.org/2000/svg"
			>
			  <ellipse
				cx="173"
				cy="178.5"
				rx="173"
				ry="178.5"
				fill="url(#paint0_linear)"
			  />
			  <defs>
				<linearGradient
				  id="paint0_linear"
				  x1="-3.27832e-05"
				  y1="87.2457"
				  x2="255.501"
				  y2="88.5747"
				  gradientUnits="userSpaceOnUse"
				>
				  <stop stop-color="white" stop-opacity="0.07" />
				  <stop offset="1" stop-color="white" stop-opacity="0" />
				</linearGradient>
			  </defs>
			</svg>
		  </span>
		</div>
	  </div>
	</div>
  </section>
<!-- ====== About Section End -->
</Layout>
