
<div class="overflow-hidden bg-[#fdcc6d] py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
       
            <p class="mt-2 text-3xl font-bold tracking-tight text-black sm:text-4xl">Nosotros</p>
            <p class="mt-5 text-lg leading-8 text-black font-semibold">Arena Voleibol Club fue creada con el objetivo de desarrollar el voleibol de playa en Perú y preparar a futuros campeones. Proporcionamos condiciones óptimas para entrenamientos regulares durante todo el año, promoviendo un estilo de vida saludable mediante el voleibol.</p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-black">
                  <svg class="absolute left-1 top-1 h-6 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <img class="h-5 w-5 absolute left-1 top-1" src="/voley.svg" alt="voleibol de playa">
                  </svg>
                  Misión.
                </dt>
                <dd class="inline text-black">Nuestro enfoque está en la mejora continua a través del esfuerzo y trabajo constante, guiados por profesionales que ofrecen las herramientas necesarias para alcanzar un buen desempeño.</dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-black">
                  <svg class="absolute left-1 top-1 h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <img class="h-5 w-5 absolute left-1 top-1" src="/voley.svg" alt="voleibol de playa">
                  </svg>
                Visión
                </dt>
                <dd class="inline text-black">Trasformar vidas por medio del voleibol de playa, que sea una herramienta poderosa para mejorar la salud y el bienestar de las personas, promoviendo la masificación de este deporte en el pais.</dd>
              </div>
             
            </dl>
          </div>
        </div>
        <div
  class="block rounded-lg intro text-center shadow-secondary-1 dark:bg-surface-dark dark:text-white text-surface">
  <div
    class="border-b-2 border-neutral-100 px-6 py-3 dark:border-white/10 text-4xl">
    Horarios
  </div>
  <div class="p-6">
    <h5
      class="mb-2 text-xl font-medium leading-tight">
    Lunes, Miercoles y Viernes
    </h5>
    <p class="mb-4 text-base">
      de 7:00 a 9:00 AM.
    </p>
    <button
      type="button"
      class="inline-block text-2xl rounded bg-primary px-6 pb-2 pt-2.5 font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong"
      data-twe-ripple-init
      data-twe-ripple-color="light">
      Horario Nocturno
    </button>
  </div>
  <div
    class="border-t-2 text-1xl border-neutral-100 px-6 py-3 dark:border-white/10 text-surface/75 dark:text-neutral-500">
    <h5
      class="mb-2 text-xl font-medium leading-tight">
    Martes y Jueves
    </h5>
    <p class="mb-4 text-base">
      de 6:00 a 8:00 PM.
    </p>
  </div>
</div>
      </div>
    </div>
  </div>
  
