<!-- component -->
<section class="arena py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center mb-12">
        <h2 class="text-4xl font-extrabold text-white sm:text-5xl">
         Planes
        </h2>
        
      </div>
  
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
        <!-- Free Plan -->
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
          <div class="mb-8">
            <h3 class="text-2xl font-semibold text-white">Clases</h3>
            <p class="mt-4 text-gray-400">pago por clases.</p>
          </div>
          <div class="mb-8">
            <span class="text-5xl font-extrabold text-white">S/35</span>
            <span class="text-xl font-medium text-gray-400">/dia</span>
          </div>
          <ul class="mb-8 space-y-4 text-gray-400">
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>1 clase</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>2 horas de trabajo</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>30 min de fisico, 1 hora de tecnico/tactico 30min de juego</span>
            </li>
          </ul>
          <a href="#" class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
           Suscribir
          </a>
        </div>
  
        <!-- Starter Plan -->
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
          <div class="mb-8">
            <h3 class="text-2xl font-semibold text-white">Basico</h3>
            <p class="mt-4 text-gray-400">1 vez por semana.</p>
          </div>
          <div class="mb-8">
            <span class="text-5xl font-extrabold text-white">S/100</span>
            <span class="text-xl font-medium text-gray-400">/mensual</span>
          </div>
          <ul class="mb-8 space-y-4 text-gray-400">
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>4 clases</span>
            </li>
             <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>2 horas de trabajo</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>30 min de fisico, 1 hora de tecnico/tactico 30min de juego</span>
            </li>
          </ul>
          <a href="#" class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
            Suscribir
          </a>
        </div>
  
        <!-- Pro Plan -->
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
          <div class="mb-8">
            <h3 class="text-2xl font-semibold text-white">Intermedio</h3>
            <p class="mt-4 text-gray-400">2 veces por semana.</p>
          </div>
          <div class="mb-8">
            <span class="text-5xl font-extrabold text-white">S/150</span>
            <span class="text-xl font-medium text-gray-400">/mensual</span>
          </div>
          <ul class="mb-8 space-y-4 text-gray-400">
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>8 clases</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>30 min de fisico, 1 hora de tecnico/tactico 30min de juego</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Acesoramiento fisico</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Acesoramiento de fuerza</span>
            </li>
          </ul>
          <a href="#" class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
           Suscribir
          </a>
        </div>
  
        <!-- Enterprise Plan -->
        <div class="bg-gray-800 rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
          <div class="mb-8">
            <h3 class="text-2xl font-semibold text-white">Avanzado</h3>
            <p class="mt-4 text-gray-400">3 veces por semana.</p>
          </div>
          <div class="mb-8">
            <span class="text-5xl font-extrabold text-white">S/180</span>
            <span class="text-xl font-medium text-gray-400">/mensual</span>
          </div>
          <ul class="mb-8 space-y-4 text-gray-400">
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>12 clases</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>2 horas de trabajo</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Acesoramiento Fisico</span>
            </li>
            <li class="flex items-center">
              <svg class="h-6 w-6 text-green-500 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span>Acesoramiento de fuerza</span>
            </li>
          </ul>
          <a href="#" class="block w-full py-3 px-6 text-center rounded-md text-white font-medium bg-gradient-to-r from-blue-500 to-purple-500 hover:from-blue-600 hover:to-purple-600">
            Suscribir
          </a>
        </div>
      </div>
    </div>
  </section>