<!-- component -->
<div class="py-16 white">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <h2 class="mb-12 text-center text-2xl text-white font-bold md:text-4xl">Testimonios</h2>
        <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">
          <div class="row-span-2 p-6 border border-gray-100 rounded-xl bg-gray-50 text-center sm:p-8">
            <div class="h-full flex flex-col justify-center space-y-4">
              <img class="w-20 h-20 mx-auto rounded-full" src="/jesus.jpg" alt="user avatar" height="220" width="220" loading="lazy">
              <p class="text-gray-600 md:text-xl"> <span class="font-serif">"</span> El voleibol de playa es un deporte muy bonito te da muchas oportunidades, si quieres aprender un poco más en Arena Voleibol Club puedes lograr ser un buen jugador , ademas con un equipo de profesionales preparados para enseñarte a jugar al voleibol de playa.<span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Jesus Villafañe</h6>
                  <span class="text-xs text-gray-500">Jugador Olimpico</span>
              </div>
            </div>
          </div>

          <div class="p-6 border border-gray-100 rounded-xl bg-gray-50 sm:flex sm:space-x-8 sm:p-8">
            <img class="w-20 h-20 mx-auto rounded-full" src="/lucelia.jpg" alt="user avatar" height="220" width="220" loading="lazy">
            <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
              <p class="text-gray-600"> <span class="font-serif">"</span> Arena voleibol club es la escuela más indicada para aprender y perfeccionar en el voleibol de playa en Perú, ya que cuenta con los mejores profesionales del pais y con gran experiencia. <span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Lucelia Almeida</h6>
                  <span class="text-xs text-gray-500">Entrenadora de Chile</span>
              </div>
            </div>
          </div>
          <div class="p-6 border border-gray-100 rounded-xl bg-gray-50 sm:flex sm:space-x-8 sm:p-8">
            <img class="w-20 h-20 mx-auto rounded-full" src="/mauro.jpg" alt="user avatar" height="220" width="220" loading="lazy">
            <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
              <p class="text-gray-600"> <span class="font-serif">"</span> Es de gran importancia el desarrollo de academias y clubes donde se pueda practicar el voleibol de playa para el crecimiento y la masificacion del mismo. Como entrenador e instructor me llena de alegria ver el trabajo que viene realizando Arena voleibol club en Peru. <span class="font-serif">"</span></p>
              <div>
                  <h6 class="text-lg font-semibold leading-none">Mauro Hernandez</h6>
                  <span class="text-xs text-gray-500">Instructor FIVB - entrenador de Venezuela</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>