<div class="w-full relative">
   
    <video 
    class="w-full h-screen object-cover object-top"
    src="/arena.mp4" 
    autoplay
    loop
    muted 
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    ></video>
    
</div>